<p id="notice"><%= notice %></p>

<h1>Topics</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>


    </tr>
    <% @topics.sort.each do |topic| %>
    <tr>

      <td><%= link_to topic[1].title, topic[1] %></td>
 <td><%= pluralize(topic[1].votes.count, "vote") %></td>
 <td><%= button_to '+1', upvote_topic_path(topic[1]), method: :post %></td>
<td><%= button_to '-1', delvote_topic_path(topic[1]), method: :post %></td>
 <td><%= link_to 'Delete', topic[1], method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path %>
<br>

<%= link_to 'About', new_topic_about_path(@topics)  %>
